@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-corpo: #f5f5f5;
    --bg-container: #fff;
    --shadow-container: 2px 5px 14px 1px rgba(214, 214, 214, 0.819);;
    --blackgray: #1d232f;
    --blue-detalhes: #1b356e;
    --red-detalhes: #db092c;
    --icon: "";
}

.dark {
    --bg-corpo: #4D5955;
    --bg-container: #36403C;
    --shadow-container: 0px 7px 16px 3px rgba(54,64,60,0.8);
    --blackgray: #D9B779;
    --blue-detalhes: #A68C5D;
    --red-detalhes: #D9843B;
    --icon: "";
}

.dark::before {
    content: var(--icon);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: var(--bg-corpo);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    box-shadow: var(--shadow-container);
    border-radius: 10px;
    padding: 20px;
    background: var(--bg-container);
    min-width: 550px;
    max-width: 600px;
    min-height: 600px;
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header h1 {
    font-size: 3rem;
    color: var(--blackgray);
}

.header img {
    width: 10%;
    height: 50%;
}

hr {
    margin: 0.5em;
    padding: 0.1em;
    border-radius: 3px;
    border-top: 3px solid var(--blackgray);
}

.imgDark img {
    width: 30px;
    height: 30px;
    margin-top: 1rem;
    color: var(--blackgray);
    cursor: pointer;
}

.dark::after {
    content: src("img/moon-regular.svg");
}

.light::after {
    content: src("img/moon-solid.svg");
}

.group-form {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-form img {
    width: 60%;
}

.group-form label {
    font-size: 1.5em;
    font-weight: 900;
    color: var(--blackgray);
}

.group-form input {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var(--red-detalhes);
    border-radius: 5px;
    text-transform: uppercase;
}

.group-form input[type=submit] {
    background: var(--blackgray);
    font-weight: 900;
    font-size: 1rem;
    color: var(--red-detalhes);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s all;
}

.group-form input[type=submit]:hover {
    background: var(--blue-detalhes);
    color: var(--blackgray);
}


#imgPokemon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#imgPokemon img {
    width: 100px;
    border: 1px solid #333;
    border-radius: 8%;
    box-shadow: 0px 7px 16px 3px rgba(82, 107, 97, 0.875);
    margin: 10px;
}

#content {
    font-family: monospace;
    padding: 10px;
    background: var(--red-detalhes);
    border: 1px solid #333;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: #ccc;
}